@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "UberMove";
    src: url("/fonts/UberMoveBold.ttf") format("woff2");
    font-style: normal;
    font-weight: 800; /* Match the actual font weight */
  }

  @font-face {
    font-family: "UberMove";
    src: url("/fonts/UberMoveMedium.ttf") format("woff2");
    font-style: normal;
    font-weight: 700; /* Match the actual font weight */
  }

  body {
    font-family: "UberMove", sans-serif; /* Apply directly */
  }
}

@layer components {
  .form-warning {
    @apply text-red-500;
  }
  .form-input {
    @apply p-2 w-full bg-gray-200 rounded-lg text-black outline-black;
  }

  /* Line  */
  .line-container {
    @apply h-[55%] flex flex-col gap-1 items-center absolute left-9 top-[45%] translate-y-[-50%];
  }
  .line-container__circle {
    @apply rounded-full w-2 p-0.5 bg-white border-[3.5px] border-black;
  }
  .line-container__line {
    @apply w-[0.2rem] h-full bg-black;
  }
  .line-container__square {
    @apply w-2 p-0.5 bg-white border-[3.5px] border-black;
  }
}

@layer utilities {
  .active-panel {
    @apply fixed bottom-0 left-0 w-full z-10 bg-white translate-y-full p-5 rounded-tl-3xl rounded-tr-3xl;
  }
}
